body{
	background-image:url("pattern.jpg");
}

article{
	background-color: white;
	padding: 1px;
	border-bottom: 1px solid #ccc;
}

header{
	background-color: white;
	position: sticky;
	top: 2px;
}
nav{
	float: right;
	word-spacing: 10px;
	padding-right: 20px;
	text-decoration: none;
}
nav ul li{
	display: inline;
}

#article-list{
	margin: 0 150px 0 150px;
	padding-bottom: 20px;
	padding-top: 20px;
}

footer{
	background: black;
	color: white;
	padding: 1px;
	text-align: center;
}